body, html {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,82,78,1) 46%);
}

.playfair-header {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}

.playfair-subtext {
  font-weight: 400;
  font-size: 16px;
  color: #aaa;
}

.dashboard-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.logout-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #e91e63;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c2185b;
}

.add-habit {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.add-habit input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-habit button {
  padding: 10px 20px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header{
  color: #d3d4d6;
}

.add-habit button:hover {
  background-color: #1976d2;
}

.habit-list {
  margin-top: 20px;
}

.habit-item {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.habit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.habit-header h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.habit-header button {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.habit-header button.delete-button {
  background-color: #f44336;
}

.habit-header button:hover {
  opacity: 0.8;
}

.react-calendar-heatmap {
  margin-top: 10px;
  max-width: 100%;
}

.react-calendar-heatmap text {
  fill: #9fa6b2;
  font-size: 10px;
}

.react-calendar-heatmap rect {
  rx: 2px;
  ry: 2px;
  shape-rendering: geometricPrecision;
}

.color-empty {
  fill: #ebedf0;
}

.color-scale-1 {
  fill: #c6e48b;
}

.color-scale-2 {
  fill: #7bc96f;
}

.color-scale-3 {
  fill: #239a3b;
}

.color-scale-4 {
  fill: #196127;
}
